:root {
    --primary-color:#0B2027;
    --accent-color:#FCFCFC;
    --background-color: #d9d9d9;
}

@import url('https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic');

body{
    line-height: 1.6;
    letter-spacing: .05em;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

.main-container {
    margin: 1% 3%;
    padding: 2% 2%;
    height: 100%;
    border-radius: 5px;
}

.header-user-menu:focus {
    outline: none;
}

.error-title{
    margin: 1% 2%;
    font-size: 2rem;
    font-weight: 500;
}

.contest-title {
    margin: 0% 1%;
    font-size: 2rem;
    font-weight: 500;
}

.contest-header {
    display: flex;
    align-items: center;
}

.contest-list-header {
    display: flex;
    align-items: center;
    margin: 0% 0% 1%
}

.contest-desc {
    margin: 1% 2% 2%;
}

.contest-form-content {
    display: flex;
    margin: 0% 4%;
}

.contest-form-tableset {
    display: flex;
    margin: 0% 2%;
}

.contest-form-dropdown-button {
    display: flex;
}

.error-text {
    margin: 1% 2%;
}

.Header {
    display: flex;
    margin-left: 45%;
}

.lineContent {
    display: flex;
    margin-left: 30%;
}

.Buttons {
    margin-top: 3%;
}