aniso8601==3.0.2
APScheduler==3.5.3
asn1crypto==0.24.0
bcrypt==3.1.4
certifi==2018.10.15
cffi==1.11.5
chardet==3.0.4
click==6.7
cryptography==2.3.1
Flask==1.0.2
Flask-Cors==3.0.6
Flask-MySQL==1.4.0
Flask-RESTful==0.3.6
Flask-Session==0.3.1
gunicorn==19.9.0
idna==2.7
itsdangerous==0.24
Jinja2==2.10
MarkupSafe==1.0
pycparser==2.18
PyMySQL==0.9.2
python-dotenv==0.9.1
pytz==2018.5
requests==2.20.0
six==1.11.0
tzlocal==1.5.1
urllib3==1.26.5
Werkzeug==0.14.1
